body{
    background-color: darkseagreen;
}

h2{
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    background-color: rgb(0, 135, 3);
    background-color: rgba(0, 135, 3, 0.5);
    color: antiquewhite;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 72px;
    color: #04326B;
    margin-top: 0px;
    padding-top: 0px;
}

p{
    font-family: 'Sintony', sans-serif;
    font-size: 26px;
    line-height: 1.2em;
    color: darkslategray;
}

div{
    margin-left: 15%;
    margin-right: 15%;
}

li{
    font-family: 'Rockwell', serif;
    font-size: 24px;
    color: darkslategray;
    line-height: 1.4em;
}

li:hover{
    font-size: 36px;
}

a:link{
    color: rgb(2, 30, 64);
    text-decoration: none;
}

a:visited{
    color: rgb(0, 135, 3);
}

a:hover{
    color: white;
}

img{
    border-radius: 100%;
    display: block;
    margin:auto;
    width: 10em;
    height: 10em;
}

.header{
    border: 3px solid white;
    margin-top: 0;
    padding: 0 30px 30px 30px;
    background-color: rgb(2, 30, 64);
    background-color: rgba(2, 30, 64, 0.5);
}

.list{
    margin:0;
    padding:0;
}

.topics{
    font-size: 36px;
    list-style-type: none;
    color:  #04326B;
    
}

