.header-container{
    margin: 0;
    padding: 0;
 
}
h3, h1{
    padding:0;
    margin: 0;
}
.header-text{
    margin:auto;
    padding-left: 0;
}
.description{
    padding: 10px;
    margin-left: 10px;
}